<div ng-controller="ManageFeesCtrl as mfc">
    <div class="row">
        <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Admission Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Class Number</th>
                <th>Aadhaar Number</th>
                <th>Total Fees Pending</th>
            </tr>
            <tr>
                <td>{{mfc.student._id}}</td>
                <td>{{mfc.student.firstName}}</td>
                <td>{{mfc.student.lastName}}</td>
                <td>{{mfc.student.classNumber}}</td>
                <td>{{mfc.student.aadhaarNumber}}</td>
                <td>{{mfc.student.totalFeesPending}}</td>
            </tr>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Fees</th>
                    <th>Deposit</th>
                </tr>
                <tr ng-repeat="feeInfo in mfc.student.feesArray">
                    <td>{{feeInfo.month}}</td>
                    <td>{{feeInfo.year}}</td>
                    <td><input type="number" ng-model="feeInfo.feesThisMonth" /></td>
                    <td><input type="number" ng-model="feeInfo.deposit" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" ng-click="mfc.update()">Update</button>
            <button class="btn btn-primary" ng-click="mfc.backToManageStudent()">Back To Manage Student</button>
        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>
